.container {
  margin-top: 5rem;
  background-color: whitesmoke;
  margin-inline: auto;
  border-radius: 1rem;
  max-width: 25rem;
  margin-bottom: 2rem;
}

.button {
  margin-top: 1rem;
}

.form {
  padding: 1rem;
}

.label {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.input {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  outline: 0;
}
